docs/build
venv/
test-data/.snakemake/*
.snakemake/*
datasets/*
results/*
.vscode/*
.DS_Store
.envrc
tests/unit/.tests-conda/*
logs/*
orthoflow/logs/*
tests/test-data/logs/*
**/__pycache__
**/.snakemake
tests/.tests-conda
tests/test-data/results/
tests/.conda
